
body {
	background: #fffbfa;
	margin: 0;
}


img {
	width: 100%;
}

.section {
	width:100%;
	position: fixed;
}


.logo img {
	width: 25%;
	height: auto;
	position: fixed;
    bottom: 65%;
    left: 3.2%;
} 


.backpack img {
	width: 23%;
	height: auto;
	position: fixed;
    bottom: 18%;
    left: 38.7%;
    animation: bounce .5s ease-in 0s infinite alternate; 
} 

@keyframes bounce {
	from { transform: translateY(-15px);
	}
	to { transform: translateY(30px); 
	}
}

.scroll img {
	width: 6%;
	height: auto;
	position: fixed;
    bottom: 5%;
    left: 46.7%;
}


p {
	position: absolute;
	top: 89%;
	left: 49.6%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.tlt {
	position: absolute;
	top: 240%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 52px;
	color: white;
	text-align: center;
}

#fp-nav ul li a span {
	background: white !important;
}

.backpack2 img {
	width: 28%;
	height: auto;
	position: fixed;
    bottom: -82%;
    left: 35%;
} 

.backpack2 img:hover {
	width: 28%;
	height: auto;
	position: fixed;
    bottom: -82%;
    left: 35%;
	animation: shake .8s infinite alternate;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(10deg); }
   100% { transform: rotate(0deg); }
}



.airpod img {
	width: 9%;
	height: auto;
	position: fixed;
    bottom: -88%;
    left: 34%;

}

.airpod img:hover {
	width: 9%;
	height: auto;
	position: fixed;
    bottom: -88%;
    left: 34%;
    animation: shake .8s infinite alternate;

}


.case img {
	width: 21.3%;
	height: auto;
	position: fixed;
    bottom: -94%;
    left: 52%;
}

.case img:hover {
	max-width: 21.3%;
	height: auto;
	position: fixed;
    bottom: -94%;
    left: 52%;
    animation: shake .8s infinite alternate;

}


#popup1 img {
	width: 50%;
	height: auto;
	position: fixed;
    bottom: -85%;
    left: 25%;
}

#popup2 img {
	width: 50%;
	height: auto;
	position: fixed;
    bottom: -85%;
    left: 25%;
}

#popup3 img {
	width: 50%;
	height: auto;
	position: fixed;
    bottom: -85%;
    left: 25%;
}

#slideshow {
	width: 30%;
	height: auto;
	position: fixed;
    bottom: -71%;
    left: 34.3%;
  	visibility: hidden;
}

#slideshow img {
	width: 100%;
	height: auto;
}



.hidden {
	display: none;
}




