
body {
	background: #F4EBE4;
	margin: 0;
}



.logo img {
	max-width: 300px;
	height: auto;
	position: absolute;
    top: 3%;
    left: 3%;
} 



.backpack img {
	max-width: 330px;
	height: auto;
	position: absolute;
    top: 20%;
    left: 38%;
    transform: translate(-50%, -50%);
    animation: bounce .5s ease-in 0s infinite alternate; 
} 

@keyframes bounce {
	from { transform: translateY(-15px);
	}
	to { transform: translateY(30px); 
	}
}

.arrow img {
	max-width: 450px;
	height: auto;
	position: absolute;
    top: 22%;
    left: 3%;
}

p {
	position: absolute;
	top: 88%;
	left: 49.5%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}

.tlt {
	position: absolute;
	top: 240%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 52px;
	color: white;
}

#fp-nav ul li a span {
	background: white !important;
}

.backpack2 img {
	padding-bottom: 200px;
	max-width: 400px;
	height: auto;
	position: absolute;
    top: 110%;
    left: 35%;
} 

.backpack2 img:hover {
	max-width: 400px;
	height: auto;
	position: absolute;
    top: 110%;
    left: 35%;
	animation: shake .8s infinite alternate;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(10deg); }
   100% { transform: rotate(0deg); }
}



.airpod img {
	max-width: 100px;
	height: auto;
	position: absolute;
    top: 170%;
    left: 35%;

}

.airpod img:hover {
	max-width: 100px;
	height: auto;
	position: absolute;
    top: 170%;
    left: 35%;
    animation: shake .8s infinite alternate;

}


.case img {
	max-width: 300px;
	height: auto;
	position: absolute;
    top: 166%;
    left: 52%;
}

.case img:hover {
	max-width: 300px;
	height: auto;
	position: absolute;
    top: 166%;
    left: 52%;
    animation: shake .8s infinite alternate;

}


#popup1 img {
	max-width: 800px;
	height: auto;
	position: absolute;
    top: 115%;
    left: 22.5%;
}

#popup2 img {
	max-width: 800px;
	height: auto;
	position: absolute;
    top: 115%;
    left: 22.5%;
}

#popup3 img {
	max-width: 800px;
	height: auto;
	position: absolute;
    top: 115%;
    left: 22.5%;
}



.hidden {
	display: none;
}



